<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Lab7.Properties.Settings.RFConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Univ\Info3\MPP\RF.mdb"
            providerName="System.Data.OleDb" />
        <add name="Lab7.Properties.Settings.BD_01ConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=E:\Univ\Info3\MPP\BD-01.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>